body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.calculator {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.keyboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:5px;
}
#display {
    margin: 0 0 1rem 0; 
}

.result {
    margin-top: 0.8rem;
}

button:hover {
    background-color: rgb(170, 165, 165);
}